In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'droping_col_and_row.ipynb',
 'employees.csv',
 'Index_and_slice.ipynb',
 'jupyter_notebook.ipynb',
 'loading_data.ipynb',
 'main.py',
 'pandas_and_geopy.ipynb',
 'read.csv',
 'rows.json',
 'supermarkets.csv',
 'supermarkets.json',
 'updating_and_adding.ipynb']

In [2]:
import pandas

In [3]:
df = pandas.read_json("supermarkets.json")

In [4]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
import geopy

In [8]:
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [9]:
from geopy.geocoders import Nominatim

In [10]:
nom = Nominatim()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

In [12]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

Location(3995, 23rd Street, Noe Valley, San Francisco, San Francisco City and County, California, 94114, United States, (37.7529648, -122.4317141, 0.0))

In [16]:
n = nom.geocode("832303")

In [17]:
print(n)

Ghatshila, Purbi Singhbhum, Jharkhand, 832303, India

In [18]:
n.latitude

22.5857025

In [19]:
n.longitude

86.4755768

In [20]:
n.address

'Ghatshila, Purbi Singhbhum, Jharkhand, 832303, India'

In [21]:
n.altitude

0.0

In [22]:
n.raw

{'place_id': 199731790,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'boundingbox': ['22.5856525', '22.5857525', '86.4755268', '86.4756268'],
 'lat': '22.5857025',
 'lon': '86.4755768',
 'display_name': 'Ghatshila, Purbi Singhbhum, Jharkhand, 832303, India',
 'class': 'place',
 'type': 'postcode',
 'importance': 0.335}

In [23]:
type(n)

geopy.location.Location

In [25]:
df1 = pandas.read_csv("supermarkets.csv")

In [26]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
df["Address"] = df["Address"]+","+df["City"]+","+df["State"]+","+df["Country"]

In [31]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [33]:
df["Coordinates"] = df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ..."
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis..."

In [34]:
df.Coordinates

0    (3666, 21st Street, Noe Valley, San Francisco,...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, San Francisco, ...
3    (3995, 23rd Street, Noe Valley, San Francisco,...
4    (1056, Sanchez Street, Noe Valley, San Francis...
5    (551, Alvarado Street, Noe Valley, San Francis...
Name: Coordinates, dtype: object

In [35]:
df.Coordinates[0].latitude

37.756488877551

In [38]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756489
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757726
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755725
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis...",37.752146
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis...",37.753673

In [39]:
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756489,-122.429343
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755725,-122.428601
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965,-122.431714
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis...",37.752146,-122.429815
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis...",37.753673,-122.433220